n8n-workflows/1-invoice-workflow.json
{
  "name": "FoxWise - Factures et Rappels",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "invoice",
        "responseMode": "onReceived",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-invoice",
      "name": "Webhook - Réception",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "foxwise-invoice"
    },
    {
      "parameters": {
        "functionCode": "// Extraire les données reçues de FoxWise\nconst clientIds = $json.body.clientIds || [];\nconst type = $json.body.type || 'invoice';\nconst customMessage = $json.body.customMessage || '';\nconst companyId = $json.body.companyId;\n\n// Configuration Supabase (À REMPLIR)\nconst supabaseUrl = 'VOTRE_SUPABASE_URL';\nconst supabaseKey = 'VOTRE_SUPABASE_ANON_KEY';\n\nreturn {\n  clientIds: clientIds,\n  type: type,\n  customMessage: customMessage,\n  companyId: companyId,\n  supabaseUrl: supabaseUrl,\n  supabaseKey: supabaseKey\n};"
      },
      "id": "parse-data",
      "name": "Parser les données",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$node['Parser les données'].json.supabaseUrl}}/rest/v1/rpc/get_clients_by_ids",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{$node['Parser les données'].json.supabaseKey}}"
            },
            {
              "name": "Authorization",
              "value": "Bearer ={{$node['Parser les données'].json.supabaseKey}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_ids",
              "value": "={{$node['Parser les données'].json.clientIds}}"
            }
          ]
        },
        "options": {}
      },
      "id": "fetch-clients",
      "name": "Récupérer les clients",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "// Pour chaque client, créer un email personnalisé\nconst clients = $input.all();\nconst type = $node['Parser les données'].json.type;\nconst customMessage = $node['Parser les données'].json.customMessage;\n\nconst emails = [];\n\nfor (const item of clients) {\n  const client = item.json;\n  \n  let subject, body;\n  \n  if (type === 'invoice') {\n    subject = `Facture - ${client.name || 'Client'}`;\n    body = `\nBonjour ${client.name || 'Client'},\n\nVeuillez trouver ci-joint votre facture.\n\n${customMessage ? customMessage + '\\n\\n' : ''}\nMerci de votre confiance!\n\nÉquipe FoxWise\n    `.trim();\n  } else {\n    subject = `Rappel de paiement - ${client.name || 'Client'}`;\n    body = `\nBonjour ${client.name || 'Client'},\n\nCeci est un rappel amical concernant votre paiement en attente.\n\n${customMessage ? customMessage + '\\n\\n' : ''}\nMerci de votre attention!\n\nÉquipe FoxWise\n    `.trim();\n  }\n  \n  emails.push({\n    to: client.email,\n    subject: subject,\n    body: body,\n    clientName: client.name\n  });\n}\n\nreturn emails;"
      },
      "id": "prepare-emails",
      "name": "Préparer les emails",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "batchSize": 10,
        "options": {}
      },
      "id": "split-batch",
      "name": "Diviser en lots",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@votredomaine.com",
        "toEmail": "={{$json.to}}",
        "subject": "={{$json.subject}}",
        "text": "={{$json.body}}",
        "options": {}
      },
      "id": "send-email",
      "name": "📧 ENVOYER EMAIL",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 300],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Account"
        }
      },
      "notes": "⚠️ CONFIGUREZ VOS IDENTIFIANTS SMTP ICI\n\nAllez dans Credentials > SMTP\nRemplissez:\n- Host SMTP\n- Port\n- Email/Password"
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-delay",
      "name": "Attendre 2 sec",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1450, 300],
      "webhookId": "delay-webhook"
    }
  ],
  "connections": {
    "Webhook - Réception": {
      "main": [
        [
          {
            "node": "Parser les données",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parser les données": {
      "main": [
        [
          {
            "node": "Récupérer les clients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Récupérer les clients": {
      "main": [
        [
          {
            "node": "Préparer les emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer les emails": {
      "main": [
        [
          {
            "node": "Diviser en lots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Diviser en lots": {
      "main": [
        [
          {
            "node": "📧 ENVOYER EMAIL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📧 ENVOYER EMAIL": {
      "main": [
        [
          {
            "node": "Attendre 2 sec",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attendre 2 sec": {
      "main": [
        [
          {
            "node": "Diviser en lots",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-01-17T00:00:00.000Z",
  "versionId": "1"
}
